$yellow: #4d7db8;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron-css{
	background-color: $yellow;
  	background-size: cover;
  	@include margenes(50px, 0px);
}

.footer{
	padding: 10px 20px 10px 20px;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;

}
.card-hotel{
	flex: 1 200px;
	padding: 2px 2px 2px 2px;
	margin-top: 10px;


}
.btn-reserva {
	width: 100%;
  	border-radius: 0px; 
  	
}
.footer-address-icon{
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}
.collapse{
	margin-top: 10px;
}