.jumbotron-css {
  background-color: #4d7db8;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 20px 10px 20px;
  color: white;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 2px 2px 2px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.collapse {
  margin-top: 10px; }
